<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Title </title>
    <style type="text/css">
      img#thumbnail {
        border: 2px #021a40 solid;
      }
    </style>
  </head>
  <body>
    <h1>Play Music on Google Home!</h1>
    <form action="/music" method="POST">
      <input name="url" type="text">
      <input type="submit" value="Play">
    </form>
    <p>{{.Title}}</p>
    <a href="{{.URL}}">
      <img id="thumbnail" src="{{.ThumbnailURL}}" title="{{.Title}}" width="420" height="345">
    </a>
  </body>
</html>